{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="1bf4ae03f8ba8856" />
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">

</head>



<body>

  <header class="header">
    <img class="logo" src="{% static 'images/image-logo.png' %}" alt="Logo">
    <p class="logo-text">Мир путешествий и возможностей</p>

    <form action="{% url 'search' %}" class="search-form" method="get">
      <input name="q" type="search" placeholder="Искать на сайте...">
      <button type="submit"><i>Искать</i></button>
    </form>

  </header>


  <nav class="navigation">
    <ul class="menu-bar">
      <li class="menu-item"><a href="{% url 'about' %}">О нас</a></li>
      <li class="menu-item"><a href="{% url 'attractions_list' %}">Культурные объекты Москвы</a></li>
      <li class="menu-item"><a href="{% url 'videos' %}">Особенности тифлокоментирования и ариентировки в пространстве</a></li>
    </ul>
  </nav>


  <br>
  <main>
  {% block content %}
  {% endblock %}
  </main>
  <br>


  <footer class="footer">
    <p><b>Мир путешествий и возможностей © 2022</b></p>
    <p><b>Проект создан при поддержке конкурса грантов "Москва - Добрый город"</b></p>
  </footer>

</body>

</html>
