{% extends 'base.html' %}
{% load static %}
{% block title %} {{ attraction.title }} {% endblock %}


{% block content %}

{% for image in attraction.related_photos %}
<img src="{{ image.image_url }}" alt="{{ image.caption }}">
<br>
{% endfor %}

<h1>Описание</h1>
<article class="rich_text">{{ attraction.description|safe }}</article>
<br>
<figure>
    <figcaption>Слушать аудио описание:</figcaption>
    <audio controls src="{{ attraction.audio_description_url }}"> Your browser does not support the <code>audio</code> element. </audio>
</figure>
<br>

<a href="{% url 'routes' attraction_id %}"> <p class="rich_text">Как добраться?</p> </a>

{% endblock %}
