{% extends 'base.html' %}
{% load static %}
{% block title %} {{ attraction.title }} {% endblock %}


{% block content %}

    {% for image in attraction.related_photos %}
    <img src="{{ image.image_url }}" alt="{{ image.caption }}">
    <br>
    {% endfor %}
    <br>

    <figure>
      <figcaption class="rich-text">Слушать аудио описание:</figcaption>
      <audio controls src="{{ attraction.audio_description_url }}"> Your browser does not support the <code>audio</code> element. </audio>
    </figure>

    <h1>Описание</h1>
    <article class="rich-text">{{ attraction.description|safe }}</article>

{% endblock %}
