{% extends 'base.html' %}
{% load static %}
{% block title %}Мир путешествий и возможностей{% endblock %}


{% block content %}
    <p class="rich-text">
    Проект «Мир путешествий и возможностей» представляет собой справочник музеев, усадеб, скверов, театров доступных для посещения незрячими людьми.
    На сайте слепые и слабовидящие пользователи смогут найти маршрут до 20 объектов культуры от ближайшей станции метро, позволяющий добраться без посторонней помощи, аудио с описанием доступных для тактильного ознакомления экспонатов каждого из представленных музеев.
    Проект создан при поддержке конкурса грантов «Москва – добрый город».
    </p>
{% endblock %}
