{% extends 'base.html' %}
{% load static %}
{% block title %}маршруты{% endblock %}


{% block content %}
    <p class="rich-text">Адрес: {{ content.address}}</p>
    <br>
    <figure>
      <figcaption class="rich-text">Слушать аудио описание:</figcaption>
      <audio controls src="{{ content.audio_description }}"> Your browser does not support the <code>audio</code> element. </audio>
    </figure>
    <br>

    <h1>Ближайшие станции метро:</h1>
    {% for station_entry in content.nearest_metro_stations %}
    <details>
      {% if station_entry.station_type == 'm' %}
      <summary>Станция метро "{{ station_entry.station_name }}</summary>
      {% else %}
      <summary>Станция МЦК "{{ station_entry.station_name }}</summary>
      {% endif %}
      <h1>Маршрут от станции "{{ station_entry.station_name }}" до объекта</h1>
      <article class="rich-text">{{ station_entry.route_from_station }}</article>
      <br>
      <h1>Маршрут от объекта до станции "{{ station_entry.station_name }}"</h1>
      <article class="rich-text">{{ station_entry.route_to_station }}</article>
      <br>
    </details>
    {% endfor %}

{% endblock %}
