# This is a template file to speed up development process,
# so you don't have to change your environment variables.
# Template files must be committed to the VCS, but must not contain
# any secret values.

DJANGO_SECRET_KEY=__CHANGEME__

POSTGRES_DB=accessible_db
POSTGRES_USER=accessible
POSTGRES_PASSWORD=evgen122345
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
